.header-top {
  height: $headerHeight;
  background-color: #000000;
  li {
    padding: 0 10px;
  }
  .container {
    @include containerSetup($standardContainer);
    .contact {
      @include height-lineHeight-Setup($headerHeight);
      text-align: right;
      i {
        font-size: 15px;
        color: $bluStandardColor;
        vertical-align: middle;
      }
      a {
        font-size: 12px;
        color: $greyStandardColor;
        &:hover {
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }
    #nav-list {
      @include height-lineHeight-Setup($headerHeight);
      li {
        padding: 0 25px;
        cursor: pointer;
        &:not(:first-child):hover {
          background-color: #f1f1f1;
        }
        &:hover a {
          color: #000000;
        }
        img {
          width: 90px;
          vertical-align: sub;
        }
        a {
          color: #ffffff;
        }
      }
    }
  }
}

.header-middle {
  height: 460px;
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
  @include backgroundSize;
  background-position: center;
  .container {
    display: flex;
    justify-content: flex-end;
    @include containerSetup($standardContainer);
    height: 100%;
    padding-top: 20px;
    .text-block {
      height: 100%;
      padding: 30px 0;
      margin-right: 90px;
      color: #ffffff;
      h4 {
        margin: 20px 0;
      }
      li {
        display: block;
        margin: 17px 0;
        font-size: 17px;
        &::before {
          content: "\f105";
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          margin-right: 5px;
          color: $greyStandardColor;
          vertical-align: middle;
        }
      }
      .btn {
        width: 205px;
        height: 55px;
        padding: 10px 0;
        background-color: #666666;
        font-size: 14px;
        cursor: pointer;
        &::after {
          content: "";
          display: table;
          clear: both;
        }
        .left {
          float: left;
          width: 75%;
          height: 100%;
          padding: 0 10px;
          border-right: 1px solid #ffffff;
          p:first-child {
            font-weight: 700;
          }
        }
        .right {
          display: flex;
          justify-content: center;
          align-items: center;
          float: left;
          width: 25%;
          height: 100%;
          i {
            display: inline-block;
            font-size: 30px;
          }
        }
      }
    }
    .black-side {
      width: 400px;
      height: 100%;
      background-color: #000000;
    }
  }
}
