.header-top {
  height: $headerHeight;
  background-color: #000000;
  li {
    display: inline-block;
    padding: 0 10px;
  }
  .container {
    width: 70%;
    margin: auto;
    .contact {
      @include height-lineHeight-Setup($headerHeight);
      text-align: right;
      i {
        font-size: 15px;
        color: $bluStandardColor;
        vertical-align: middle;
      }
      a {
        font-size: 12px;
        color: #989898;
        &:hover {
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }
    nav {
      @include height-lineHeight-Setup($headerHeight);
    }
  }
}
